<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">
  <display-name>employess-hr-ws</display-name>
  
        

<listener>
    <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
    </listener-class>
</listener>
<servlet>
 <description>JAX-WS endpoint EmployeesHRService</description>
 <display-name>JAX-WS servlet  EmployeesHRService</display-name>
    <servlet-name>EmployeesHRServiceHttpSoap11Endpoint</servlet-name>
    <servlet-class>
        com.sun.xml.ws.transport.http.servlet.WSServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
</servlet>
<servlet-mapping>
    <servlet-name>EmployeesHRServiceHttpSoap11Endpoint</servlet-name>
    <url-pattern>/EmployeesHRServiceHttpSoap11Endpoint</url-pattern>
</servlet-mapping>

    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <welcome-file-list>
      <welcome-file>/pages/index.jsp</welcome-file>
    </welcome-file-list>

 
</web-app>
